#top-content {
  background-color: @b-gray;
  min-height: 185px;
  overflow:hidden;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
  .top-block-post {
   float: left;
   min-height: 158px;
   padding: 0;
  }
 .round {
   .all(70px,@b-red,70px);
   border-radius: 70px;
   float: left;
   font-size: 30px;
   padding: 0;
   text-align: center;
   i {
     color: white;
     line-height: 70px;
   }
 }
 h4 {
   .text(@font-fjalla,20px,@c-black);
   display: block;
   font-weight: @font-bold;
   margin-left: 100px;
   padding: 0;
   text-transform: uppercase;
 }
 .text-top-post {
   .text(@font-lato,13px,@c-dark-gray);
   display: block;
   line-height: 25px;
   margin: 10px 0 0 100px;
   padding: 0;
   a {
     color: @c-red;
   }
 }
}
#center-content{
 .all(100%,@b-white,100%);
 .main-center-text {
   .text(@font-fjalla,20px,@c-black);
   height: 155px;
   padding: 80px 0 0 0;
   text-transform: uppercase;
 }
 .main-photo {
   padding: 0;
   #main-photo{
     margin-top: 80px;
   }
 }
 .red-text {
   .text(@font-lato,14px, @c-red);
   border-bottom: 1px solid @c-dark-gray;
   border-top: 1px solid @c-dark-gray;
   font-weight: @font-bold;
   height: 38px;
   line-height: 35px;
   padding-left: 0;
 }
 .post-center {
   height: 315px;
   padding-left: 0;
   padding-right: 0;


   h4{
     font-weight: @font-bold;

   }
   .post-center-text {
     .text(@font-lato,15px,@c-dark-gray);
     display: block;
     line-height: 22px;
     margin-top: 13px;



   }

   .button {
     margin-top: 20px;
     border-radius: 30px;
     background-color: @b-red;
     color: @c-white;


   }
 }
 #red-block {
   background-color: @b-red;
   border-radius: 10px;
   min-height: 185px;
   padding: 50px 0 50px 0;
   margin: 0;
   .container-black-round{
     float: left;
     height: auto;
     padding: 0;
     #black-round{
       .all(70px,@b-black,70px);
       border-radius: 70px;
       font-size: 30px;
       margin-left: 15px;
       .fa-user {
         .position-icon-all(@c-white,25px,20px);
       }
     }
   }
   h5{
     color: @c-white;
     margin: 0;
     text-transform: uppercase;
   }
   .left-red-block {
     float: left;
     height: auto;
     padding-left: 0;
     padding-right: 0;
     .citation{
       .text(@font-lato,12px,@c-white);
       line-height: 22px;
       margin-top: 17px;
       .author{
         font-size: 10px;
       }
     }
   }
   .right-red-block {
     padding-left: 0;
     padding-right: 0;
     height: auto;
     .form-inline {
       .form-group{
         padding-top: 25px;
         width: 100%;
         #email{
           border-radius: 10px;
           float: left;
           width: 60%;

         }
         #submit {
           border-radius: 10px;
           background-color: @b-black;
           color: @c-white;
           font-weight: @font-bold;
           font-family: @font-lato;
           height: auto;
           margin-left: 10px;
           padding-left: 0;
           width: 95px;
         }
       }
     }
   }
 }
  .post-content-block{
    margin-top: 70px;
    min-height: 393px;
    padding: 0;

    h4{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 26px;
      font-family: @font-fjalla;
    }
  div.left {
  padding-left: 0;
    padding-right: 0;

    &>div.post-bottom {
      border-bottom: 1px solid @c-gray;
       &.post-content-bottom{
         min-height: 131px;

       }

      h4{
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 26px;
        font-family: @font-fjalla;
      }
      .photo {
        padding-top: 30px;
        float: left;
      }
      .text-photo{
        font-size: 12px;
        padding-top: 30px;
        margin-left: 100px;
        display: block;
        color: @c-dark-gray;
        font-weight: bold;

        a{
          color: @c-red;
        }
      }


    }
  }

  .form-block {
         background-color: @b-gray;
         border-radius: 10px;
         height: 395px;
         margin-top: 30px;
         .text-form{
           .text(@font-lato,15px,@c-dark-gray);
           line-height: 25px;
           margin-left: 30px;
           margin-right: 30px;
           padding-top: 30px;
         }
         #form {
           margin: 30px 30px 0 30px;
           .form-control {
             &.border {
               border-radius: 15px;
               border: none;
               &.email {
                 margin-top: 20px;
               }
             }
             &.your-query {
               border-radius: 8px;
               border: none;
               margin-top: 20px;
             }
             &.send {
               background-color: @b-red;
               border-radius: 20px;
               color: @c-white;
               margin-top: 15px;
               width: 90px;
               i{
                margin-left: 2px;
                 font-size: 15px;
               }
             }
           }
         }
  }
  .contact {
           padding-top: 25px;
         i{
           display: block;
           float: left;
           font-size: 25px;

         }
       }
  .title {
         display: block;
         color: @c-red;
         margin-left: 42px;
         font-size: 15px;
    font-weight: bold;

       }
       .text-title {
         .text(@font-lato,16px,@c-dark-gray);
         display: block;
         line-height: 25px;
         margin-left: 42px;
         a{
           color: @c-dark-gray;
         }
       }

   p{
      margin-bottom: 0;
   }
  }
}

































