header {
background-color: @b-black;
min-height: 80px;
 #logo{
   color: @c-white;
   font-size: 20px;
   line-height: 80px;
 }
 .navbar-toggle{
   margin-top: 23px;
 }
 .navbar {
   margin-bottom: 0;
   ul{
     li{
        a{
        font-size: 14px;
        font-family: @font-fjalla;
        line-height: 80px;
        padding: 0 15px  0 15px;
        height: 80px;
        text-transform: uppercase;
       }
     }
   }
 }
 .navbar-default {
   background-color: @b-black;
   border: 0;
   color: @c-white;
   .navbar-nav > li > a {
     color: @c-white;
     &:hover {
       background-color: @b-red;
       border-radius: 5px;
     }
   }
 }
 .container-fluid{
   padding: 0;
   #top-carousel {
     .controls {
       height: 100%;
       width:100%;
       .buttons {
       height: 100%;
       margin:0 auto;
       width:1170px;
       }
     }
     .carousel-control {
       .all(50px,@b-red,25px);
       background-image: none!important;
       display: block;
       opacity: 1!important;
       top:330px;
       z-index: 100;
       i{
         color: @c-black;
         font-size: 15px;
         margin-top: 18px;
       }
       &.right {
         border-bottom-right-radius: 70px;
         border-top-right-radius: 70px;
         left: 28px;
       }
       &.left {
         border-bottom-left-radius: 70px;
         border-top-left-radius: 70px;
         left: 0px;
       }
     }
     .item {
       background-image: url('../images/banner.jpg');
       background-position: center;
       background-size: cover;
       height: 560px;
         .carousel-caption {
           height: 100%;
           left:0;
           padding: 0;
           top: 0;
           width: 100%;
           z-index: 0;
         .slide {
           height: 100%;
           margin: 0 auto;
           max-width: 100%;
           padding-top: 390px;
           width: 1170px;

         }
       }
     }
     .carousel-caption {
       height: auto;
       left: 60px;
       text-align: left;
       top: 380px;
       width: 265px;
       a{
         color: @c-red;
       }
     }
   }
 }
}










