.all(@height,@background-color,@width){
  background-color:@background-color ;
  height: @height;
  width: @width;
}
.position-icon-all(@color, @margin-left, @margin-top){
  color: @color;
  margin-left: @margin-left;
  margin-top: @margin-top;
}
.text(@font-family, @font-size, @color){
    font-family: @font-family;
    font-size: @font-size;
    color: @color;
}