@b-gray: #e7e7e7;
@c-gray:#e7e7e7;
@b-red: #e84c3d;
@c-dark-gray: #858a8c;
@c-white: #ffffff;
@b-white: #ffffff;
@c-red: #e84c3d;
@font-fjalla: 'Fjalla One', sans-serif;
@font-lato: 'Lato', sans-serif ;
@b-black: #101010;
@c-black: #101010;
@font-bold: bold;