@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body {
  line-height: normal;
}
header {
  background-color: #101010;
  min-height: 80px;
}
header #logo {
  color: #ffffff;
  font-size: 20px;
  line-height: 80px;
}
header .navbar-toggle {
  margin-top: 23px;
}
header .navbar {
  margin-bottom: 0;
}
header .navbar ul li a {
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  line-height: 80px;
  padding: 0 15px  0 15px;
  height: 80px;
  text-transform: uppercase;
}
header .navbar-default {
  background-color: #101010;
  border: 0;
  color: #ffffff;
}
header .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
header .navbar-default .navbar-nav > li > a:hover {
  background-color: #e84c3d;
  border-radius: 5px;
}
header .container-fluid {
  padding: 0;
}
header .container-fluid #top-carousel .controls {
  height: 100%;
  width: 100%;
}
header .container-fluid #top-carousel .controls .buttons {
  height: 100%;
  margin: 0 auto;
  width: 1170px;
}
header .container-fluid #top-carousel .carousel-control {
  background-color: #e84c3d;
  height: 50px;
  width: 25px;
  background-image: none!important;
  display: block;
  opacity: 1!important;
  top: 330px;
  z-index: 100;
}
header .container-fluid #top-carousel .carousel-control i {
  color: #101010;
  font-size: 15px;
  margin-top: 18px;
}
header .container-fluid #top-carousel .carousel-control.right {
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  left: 28px;
}
header .container-fluid #top-carousel .carousel-control.left {
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  left: 0px;
}
header .container-fluid #top-carousel .item {
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  height: 560px;
}
header .container-fluid #top-carousel .item .carousel-caption {
  height: 100%;
  left: 0;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
header .container-fluid #top-carousel .item .carousel-caption .slide {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 390px;
  width: 1170px;
}
header .container-fluid #top-carousel .carousel-caption {
  height: auto;
  left: 60px;
  text-align: left;
  top: 380px;
  width: 265px;
}
header .container-fluid #top-carousel .carousel-caption a {
  color: #e84c3d;
}
#top-content {
  background-color: #e7e7e7;
  min-height: 185px;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
}
#top-content .top-block-post {
  float: left;
  min-height: 158px;
  padding: 0;
}
#top-content .round {
  background-color: #e84c3d;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  float: left;
  font-size: 30px;
  padding: 0;
  text-align: center;
}
#top-content .round i {
  color: white;
  line-height: 70px;
}
#top-content h4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  color: #101010;
  display: block;
  font-weight: bold;
  margin-left: 100px;
  padding: 0;
  text-transform: uppercase;
}
#top-content .text-top-post {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #858a8c;
  display: block;
  line-height: 25px;
  margin: 10px 0 0 100px;
  padding: 0;
}
#top-content .text-top-post a {
  color: #e84c3d;
}
#center-content {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
#center-content .main-center-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  color: #101010;
  height: 155px;
  padding: 80px 0 0 0;
}
#center-content .main-photo {
  padding: 0;
}
#center-content .main-photo #main-photo {
  margin-top: 80px;
}
#center-content .red-text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #e84c3d;
  border-bottom: 1px solid #858a8c;
  border-top: 1px solid #858a8c;
  font-weight: bold;
  height: 38px;
  line-height: 35px;
  padding-left: 0;
}
#center-content .post-center {
  height: 315px;
  padding-left: 0;
}
#center-content .post-center h4 {
  font-weight: bold;
}
#center-content .post-center .post-center-text {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #858a8c;
  display: block;
  line-height: 22px;
  margin-top: 13px;
}
#center-content .post-center .button {
  border-radius: 30px;
  background-color: #e84c3d;
  color: #ffffff;
  margin-top: 20px;
}
#center-content #red-block {
  background-color: #e84c3d;
  border-radius: 10px;
  min-height: 185px;
  padding: 50px 0 50px 0;
  margin: 0;
}
#center-content #red-block .container-black-round {
  float: left;
  height: auto;
  padding: 0;
}
#center-content #red-block .container-black-round #black-round {
  background-color: #101010;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  font-size: 30px;
  margin-left: 15px;
}
#center-content #red-block .container-black-round #black-round .fa-user {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 20px;
}
#center-content #red-block h5 {
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
#center-content #red-block .left-red-block {
  float: left;
  height: auto;
  padding-left: 0;
  padding-right: 0;
}
#center-content #red-block .left-red-block .citation {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #ffffff;
  line-height: 22px;
  margin-top: 17px;
}
#center-content #red-block .left-red-block .citation .author {
  font-size: 10px;
}
#center-content #red-block .right-red-block {
  padding-left: 0;
  padding-right: 0;
  height: auto;
}
#center-content #red-block .right-red-block .form-inline .form-group {
  padding-top: 25px;
  width: 100%;
}
#center-content #red-block .right-red-block .form-inline .form-group #email {
  border-radius: 10px;
  float: left;
  width: 60%;
}
#center-content #red-block .right-red-block .form-inline .form-group #submit {
  border-radius: 10px;
  background-color: #101010;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  height: auto;
  margin-left: 10px;
  padding-left: 0;
  width: 95px;
}
#center-content .post-bottom-block {
  display: block;
  font-weight: bold;
  font-size: 23px;
  height: 582px;
  padding: 70px 0 0 0;
}
#center-content .post-bottom-block .post {
  border-top: 1px solid #e7e7e7;
  height: 131px;
  margin-right: 30px;
}
#center-content .post-bottom-block .post a {
  color: #e84c3d;
}
#center-content .post-bottom-block .post.first-post {
  margin-top: 30px;
  margin-right: 30px;
}
#center-content .post-bottom-block .post.last-post {
  border-bottom: 1px solid #e7e7e7;
}
#center-content .post-bottom-block .post .photo {
  padding-top: 30px;
  float: left;
}
#center-content .post-bottom-block .post .text-photo {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #858a8c;
  line-height: 25px;
  margin-top: 30px;
  margin-left: 90px;
}
#center-content .post-bottom-block .title {
  display: block;
  color: #e84c3d;
  margin-left: 42px;
  padding-top: 23px;
}
#center-content .post-bottom-block .text-title {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #858a8c;
  display: block;
  line-height: 22px;
  margin-left: 42px;
}
#center-content .post-bottom-block .form-block {
  background-color: #e7e7e7;
  border-radius: 10px;
  height: 395px;
  margin-top: 30px;
}
#center-content .post-bottom-block .form-block .text-form {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #858a8c;
  line-height: 25px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
}
#center-content .post-bottom-block .form-block #form {
  margin: 30px 30px 0 30px;
}
#center-content .post-bottom-block .form-block #form .form-control.border {
  border-radius: 15px;
  border: none;
}
#center-content .post-bottom-block .form-block #form .form-control.border.email {
  margin-top: 20px;
}
#center-content .post-bottom-block .form-block #form .form-control.your-query {
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}
#center-content .post-bottom-block .form-block #form .form-control.send {
  background-color: #e84c3d;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 20px;
  width: 100px;
}
#center-content .post-bottom-block .address {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: 120px;
  margin-top: 30px;
  margin-left: 30px;
}
#center-content .post-bottom-block .address i {
  display: block;
  float: left;
  padding-top: 25px;
}
#center-content .post-bottom-block .phone {
  border-bottom: 1px solid #e7e7e7;
  height: 120px;
  margin-left: 30px;
}
#center-content .post-bottom-block .phone #earphone {
  background-color: #101010;
  border-radius: 5px;
  color: #ffffff;
  float: left;
  height: 21px;
  margin-top: 25px;
  width: 20px;
}
#center-content .post-bottom-block .email-us {
  border-bottom: 1px solid #e7e7e7;
  height: 155px;
  margin-left: 30px;
}
#center-content .post-bottom-block .email-us a {
  color: #858a8c;
}
#center-content .post-bottom-block .email-us i {
  display: block;
  float: left;
  padding-top: 25px;
}
#center-content .post-bottom-block p {
  margin-bottom: 0;
}
footer {
  background-color: #101010;
  min-height: 205px;
  padding-top: 75px;
  padding-bottom: 50px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
footer .menu-footer {
  height: auto;
}
footer .menu-footer .navbar {
  background-color: #101010;
  border: 0;
  margin: 0;
  padding: 0;
}
footer .menu-footer ul {
  padding: 0;
}
footer .menu-footer #navbar-collapse-footer {
  padding: 0;
}
footer .menu-footer #navbar-collapse-footer ul li {
  list-style: none;
}
footer .menu-footer #navbar-collapse-footer ul li a {
  color: #858a8c;
  padding-left: 5px;
}
footer .menu-footer #navbar-collapse-footer ul li a:hover {
  color: #ffffff;
}
footer .menu-footer #navbar-collapse-footer ul li a:hover:after {
  color: #858a8c;
}
footer .menu-footer #navbar-collapse-footer ul li a:after {
  content: '/';
  padding-left: 17px;
}
footer .menu-footer #navbar-collapse-footer ul li:last-child a:after {
  content: '';
}
footer .menu-footer li {
  list-style: none;
}
footer .round-red-min {
  background-color: #e84c3d;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  float: left;
  font-size: 20px;
  margin-left: 10px;
}
footer .position-icon {
  color: #ffffff;
  margin-left: 18px;
  margin-top: 15px;
}
footer p.text-footer {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #858a8c;
  display: block;
  margin-top: 10px;
}
footer p.text-footer a {
  color: red;
}
@media screen and (max-width: 768px) {
  #navbar-collapse-footer a:after {
    content: '' !important;
  }
  #navbar-collapse-footer ul {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggle {
    margin-left: 15px;
  }
  #top-carousel {
    display: none;
  }
  #center-content .main-center-text {
    font-size: 12px;
    height: auto;
    line-height: 20px;
    padding-left: 15px;
    width: 50%;
  }
  #center-content #red-block {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #center-content #red-block h5 {
    padding-top: 20px;
  }
  #center-content .post-bottom-block {
    height: auto;
    margin: 0;
    padding: 0;
  }
  #center-content .post-center {
    height: auto;
    padding-left: 15px;
  }
  #center-content .red-text {
    padding-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carousel-caption .slide {
    padding: 0 50px;
    width: 750px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .carousel-caption .slide {
    padding: 0 100px;
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-caption .slide {
    width: 1170px;
    padding: 0 15px;
  }
}
