@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body {
  line-height: normal;
}
