footer {
  background-color: #101010;
  min-height: 205px;
  padding-top: 75px;
  padding-bottom: 50px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
 .menu-footer {
   height: auto;
   .navbar{
     background-color: @b-black;
     border: 0;
     margin: 0;
     padding: 0;
   }
   ul{
     padding: 0;
   }
   #navbar-collapse-footer{
     padding: 0;
     ul{
       li{
         list-style: none;
         a{
           color: @c-dark-gray;
           padding-left: 5px;
           &:hover{
             color: @c-white;
             &:after {
                color: @c-dark-gray;
             }
           }
           &:after {
             content: '/';
             padding-left:17px;
           }
         }
         &:last-child {
           a:after{
             content: '';
           }
         }
       }
     }
   }
   li {
     list-style: none;
   }
 }
 .round-red-min {
   .all(50px,@b-red,50px);
   border-radius: 50px;
   float: left;
   font-size: 20px;
   margin-left: 10px;
 }
 .position-icon {
   .position-icon-all(@c-white,18px,15px);
 }
 p.text-footer {
   .text(@font-lato,13px,@c-dark-gray);
   display: block;
   margin-top: 10px;

   a{
     color: red;
   }
 }
}





