@media screen and (max-width: 768px){
 #navbar-collapse-footer {
   a:after {
     content: ''!important;
   }
   ul {
     margin-left: 0;
     margin-right: 0;
   }
 }
 .navbar-toggle{
   margin-left: 15px;
 }
  #top-carousel{
    display: none;
  }

#center-content{
   .main-center-text{
     font-size: 12px;
     height: auto;
     line-height: 20px;
     padding-left: 15px;
     width: 50%;
   }
   #red-block{
     margin-top: 10px;
     padding-left: 15px;
     padding-right: 15px;
     h5{
       padding-top: 20px;
     }
   }
   .post-bottom-block {
     height: auto;
     margin: 0;
     padding: 0;
   }
   .post-center {
     height: auto;
     padding-left: 15px;
   }
   .red-text{
     padding-left: 15px;
   }
 }
}
@media screen and (min-width: 768px) and (max-width: 992px){
.carousel-caption {
   .slide{
     padding: 0 50px;
     width: 750px;
   }
 }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
.carousel-caption {
   .slide{
     padding: 0 100px;
     width: 970px;
   }
 }
}
@media screen and (min-width: 1200px){
.carousel-caption {
   .slide{
     width: 1170px;
     padding: 0 15px;
   }
 }

}








